@model IEnumerable<Data.Models.Cv>
@using Data.Models

@{
    ViewBag.Title = "Index";
}




<h2>Cv</h2>

<form>
    @using (Html.BeginForm("Index", "Cv", FormMethod.Get))
    {
        //the following are search options
        <b> Sök Cv efter namn: </b>
        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
    }
</form>

<p>
    @Html.ActionLink("Skapa Cv", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)

        </th>
    </tr>


    @foreach (var item in Model)
    {

        var userid = item.UserId; //item.UserId;

        <tr>
            <td>
                @Html.DisplayFor(Modelitem => item.Competence)
            </td>
            <td>
                @Html.DisplayFor(Modelitem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(Modelitem => item.Experience)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>*@


            <p>
                @Html.ActionLink("Visa användarens projekt", "Personal", "Projects", new { userid }, htmlAttributes: null)
            </p>

        </tr>
    }

</table>


