@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form>
    @using (Html.BeginForm("Index", "Projects", FormMethod.Get))
    {
        //the following are search options
        <b> Search Option: </b>
        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
    }
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageUrl)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <img src="~/Content/img/@item.imageUrl" class="img-thumbnail" style="width:64px; height:64px;" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
